<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lvf.io.gameq.gameq_android"
    android:versionCode="3"
    android:versionName="1.001" >

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="lvf.io.gameq.gameq_android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="lvf.io.gameq.gameq_android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="lvf.io.gameq.gameq_android.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="lvf.io.gameq.gameq_android.gcm" />
            </intent-filter>
        </receiver>

        <service android:name="lvf.io.gameq.gameq_android.GcmIntentService" />

        <activity
            android:name="lvf.io.gameq.gameq_android.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lvf.io.gameq.gameq_android.LoginActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="lvf.io.gameq.gameq_android.SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName="lvf.io.gameq.gameq_android.SwipeActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lvf.io.gameq.gameq_android.MainActivity" />
        </activity>
        <activity
            android:name="lvf.io.gameq.gameq_android.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName="lvf.io.gameq.gameq_android.SwipeActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lvf.io.gameq.gameq_android.MainActivity" />
        </activity>
        
        <activity
            android:name="lvf.io.gameq.gameq_android.DeviceDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName="lvf.io.gameq.gameq_android.SwipeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lvf.io.gameq.gameq_android.SwipeActivity" />
        </activity>
        <activity
            android:name="lvf.io.gameq.gameq_android.SwipeActivity"
            android:label="@string/title_activity_swipe" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
