<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gameq_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.gameq_android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.gameq_android.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" 
            android:noHistory="true" 
            android:excludeFromRecents="true">
            
        </activity>
        <activity
            android:name="com.example.gameq_android.SettingsActivity"
            android:label="@string/title_activity_settings" 
			android:parentActivityName="com.example.gameq_android.MainActivity" >
        	<!-- Parent activity meta-data to support 4.0 and lower -->
        	<meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.example.gameq_android.MainActivity" />
        </activity>
        <activity
            android:name="com.example.gameq_android.AboutActivity"
            android:label="@string/title_activity_about" 
			android:parentActivityName="com.example.gameq_android.MainActivity" >
        	<!-- Parent activity meta-data to support 4.0 and lower -->
        	<meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.example.gameq_android.MainActivity" />
        </activity>
        <activity
            android:name="com.example.gameq_android.DeviceListActivity"
            android:label="@string/title_device_list" 
            android:parentActivityName="com.example.gameq_android.MainActivity" >
        	<!-- Parent activity meta-data to support 4.0 and lower -->
        	<meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.example.gameq_android.MainActivity" />
        </activity>
        <activity
            android:name="com.example.gameq_android.DeviceDetailActivity"
            android:label="@string/title_device_detail"
            android:parentActivityName="com.example.gameq_android.DeviceListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gameq_android.DeviceListActivity" />
        </activity>
    </application>

</manifest>
